
 <!--BEGINNING OF NAV-->
 
 <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Aluga Aqui</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Anuncie</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categorias
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


<!--END OF NAV-->


<div class="letreiro">
<h3 style="text-align: center;">Reinvente seu jeito de alugar</h3>
  <h4 style="text-align: center;">Faça uma busca em nosso site !</h4>
</div>
  <!-- Beggining Caixa de Pesquisa-->
<div class="search-box">
  <div class="round-frame">
	<div class="row align-items-center justify-content-center">
            	        <div class="col-md-2 pt-3">
                           <div class="form-group ">
                              <select id="inputState " class="form-control">
                                <option selected>Estado</option>
                                <option>BMW</option>
                                <option>Audi</option>
                                <option>Maruti</option>
                                <option>Tesla</option>
                              </select>
                           </div>
                        </div>
                		<div class="col-md-2 pt-3">
                           <div class="form-group">
                              <select id="inputState" class="form-control">
                                <option selected>Cidade</option>
                                <option>BMW</option>
                                <option>Audi</option>
                                <option>Maruti</option>
                                <option>Tesla</option>
                              </select>
                           </div>
                        </div>
                        <div class="col-md-2 pt-3">
                            <div class="form-group">
                              <select id="inputState" class="form-control">
                                <option selected>Categoria</option>
                                <option>BMW</option>
                                <option>Audi</option>
                                <option>Maruti</option>
                                <option>Tesla</option>
                              </select>
                            </div>
                        </div>
                        <div class="col-md-2 pt-3">
                            <div class="form-group">
                              <select id="inputState" class="form-control">
                                <option selected>Faixa de Preço</option>
                                <option>BMW</option>
                                <option>Audi</option>
                                <option>Maruti</option>
                                <option>Tesla</option>
                              </select>
                            </div>
                        </div>
                        <div class="col-md-2">
            	           <button type="button" class="btn btn-primary btn-block">Search</button>
            	        </div>
                  </div>
                </div>
</div>
<!-- Fim Caixa de Pesquisa-->   

<!--Beggining Recomendados pra você-->



<!--<app-vitrine></app-vitrine>-->


<!--Fim recomendados pra você-->


<!--Inicio Detalhes do Site-->

<!--<div class="row1">
  <div class="box1">
    <img src="assets/images/rent.png"  width="100" height="80"> 
    <h3>Alugue o que quiser</h3>
    <p>Aluga aqui é uma plataforma de aluguel que 
      permite o usuário alugar o que for conveniente</p>
     
  </div>
  <div class="box2">
    <img src="assets/images/globe.png" width="80" height="80"> 
  <h3>Alugue Onde quiser</h3>
    <p>não importa onde você esteja, basta incluir
      sua localização<br> e nós indicaremos onde buscar
      o que você deseja
    </p>
  </div>
  <div class="box3">
    <img src="assets/images/partnership-handshake.png" width="90" height="80"> 
    <h3>Negocie com o Anunciante</h3>
    <p>Contate o anunciante para melhor alinhar suas necessidades
      em relação ao anuncio
    </p>
  </div>
  </div>
  <div class="row2">
    <div class="box1"></div>
    <div class="box2"></div>
    <div class="box3"></div>
    </div>-->

<!--Fim Detalhe do Site-->

<!--Carrousel-->




<!--Fim carrousel-->
 
<router-outlet></router-outlet>
<!--BEGINNING OF FOOTER-->
<!--<app-footer></app-footer>-->



